{{define "title"}}SamplePost{{end}}
{{define "main" }}
{{with .InfoBlog}}
  <header class="masthead" style="background-image: url({{.Img}})">
              <div class="container position-relative px-4 px-lg-5">
                  <div class="row gx-4 gx-lg-5 justify-content-center">
                      <div class="col-md-10 col-lg-8 col-xl-7">
                          <div class="post-heading">
                              <h1>{{.Title}}</h1>
                              <span class="meta">
                                  Posted:
                                  {{humanDate .Created}}
                              </span>
                          </div>
                      </div>

                      <input onclick="Toggle1()" type="submit" name="checkbox"id="btn_1" checked data-toggle="toggle" data-style="slow">
                  </div>
              </div>
          </header>
          <!-- Post Content-->
          <article class="mb-4">
              <div class="container px-4 px-lg-5">
                  <div class="row gx-4 gx-lg-5 justify-content-center">
                      <div class="col-md-10 col-lg-8 col-xl-7">
                          <p>{{.Content}}</p>
                          {{template "comment" .}}
                      </div>
                  </div>
              </div>
          </article>

{{end}}
{{end}}
